#! /bin/bash
export direnv_loaded=true                                        
export virtual_env=dotfiles                                      
export pythonunbuffered=1                                        
export rootdir="$(pwd)"
