.DS_Store
.maxcrc
config/*
vim/.backup/*
vim/.netrwhist
vim/.spell/custom.en.utf-8.add.spl
vim/.temp/*
vim/.tmp/*
vim/.undo/*
vim/pack/*
vim/plug/*
./vim/plug/
vim/init.vim
vim/sessions/*
vim/undo/*
*server.pem
zsh/oh-my-zsh/cache/.zsh-update

*.DS_Store

bin/asmfmt
bin/dlv
bin/errcheck
bin/fillstruct
bin/gocode-gomod
bin/godef
bin/gogetdoc
bin/goimports
bin/golangci-lint
bin/golint
bin/gometalinter
bin/gomodifytags
bin/gopls
bin/gorename
bin/gotags
bin/guru
bin/hello
bin/iferr
bin/impl
bin/keyify
bin/motion
bin/order
bin/revive
bin/staticcheck
pkg/

